/* line 1, ../sass/sass/screen.sass */
.showdownEd-editor {
  outline: 1px solid #bbbbbb;
  padding: 20px;
}

/* line 5, ../sass/sass/screen.sass */
.col {
  min-height: 400px;
}
/* line 7, ../sass/sass/screen.sass */
.col textarea {
  width: 100%;
  min-height: 400px;
}

/* line 13, ../sass/sass/screen.sass */
table.diff td.replace {
  background-color: green;
}
/* line 15, ../sass/sass/screen.sass */
table.diff td.delete {
  background-color: purple;
}
/* line 17, ../sass/sass/screen.sass */
table.diff td.empty {
  background-color: red;
}
/* line 19, ../sass/sass/screen.sass */
table.diff td.equal {
  background-color: blue;
}
/* line 21, ../sass/sass/screen.sass */
table.diff td.insert {
  background-color: yellow;
}
