/* line 10, ../sass/sass/screen.sass */
.col {
  margin-bottom: 30px;
}
/* line 12, ../sass/sass/screen.sass */
.col textarea {
  min-height: 420px;
}

/* line 17, ../sass/sass/screen.sass */
table.diff tbody {
  font-family: monospace;
}
/* line 19, ../sass/sass/screen.sass */
table.diff tbody th {
  vertical-align: top;
  text-align: right;
  padding: 3px;
  color: #777777;
}
/* line 24, ../sass/sass/screen.sass */
table.diff tbody td {
  padding: 3px;
  border-bottom: 1px solid white;
}
/* line 27, ../sass/sass/screen.sass */
table.diff tbody td.equal {
  background-color: #f4f4f4;
}
/* line 29, ../sass/sass/screen.sass */
table.diff tbody td.replace {
  background-color: #d1fbd1;
}
/* line 31, ../sass/sass/screen.sass */
table.diff tbody td.delete {
  background-color: #ffd4d4;
}
/* line 33, ../sass/sass/screen.sass */
table.diff tbody td.empty {
  background-color: #ffebd4;
}
/* line 35, ../sass/sass/screen.sass */
table.diff tbody td.insert {
  background-color: #d1eaf8;
}
