<!DOCTYPE html>
<html lang="en" ng-app="showdownEd">
<head>
	<meta charset=utf-8 />
	<title>ShowdownEd</title>
	<link rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen" href="css/screen.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
	<script type="text/javascript" src="js/showdownEd.js"></script>
	<script type="text/javascript" src="js/diffview.js"></script>
	<script type="text/javascript" src="js/difflib.js"></script>
</head>
<body>
	<div class="container">
		<div ng-controller="Editor" class="showdownEd-editor">
			
			<h1>ShowdownEd - A Markdown Editor</h1>
			
			<div class="controls">
				<form class="form-inline" role="form">
					<div class="form-group">Select file: <select class="form-control"
						ng-model="selectedFile"
						ng-options="file.name for file in files"
						ng-change="selectFile();"
					></select></div>
					<button class="btn btn-primary"
						ng-disabled="editor.$pristine"
						ng-click="submitMd();"
					>Save</button>
				</form>
			</div>
			<hr>
		
			<div ng-switch on="editor.$pristine" ng-show="haveFileSelected">
				<p class="alert alert-warning" ng-switch-when="false">Unsaved changes!</p>
				<p class="alert alert-success" ng-switch-when="true">Everything is up to date.</p>
			</div>
			
			<div class="gui">
				<div ng-include="'includes/gui.html'"
					ng-click="editGui();"
				></div>
			</div>
			
			<div class="row">
				<div class="col col-sm-6 col-md-4" data-markdown ng-switch on="haveFileSelected">
					<h3>Edit here</h3><hr>
					<form name="editor">
						<textarea name="markdown" class="form-control"
							ng-switch-when="true"
							ng-change="updateMd(markdown.current);"
							ng-mouseup="getSelectionText();"
							ng-model="markdown.current"></textarea>
					</form>
				</div>
				<div class="col col-sm-6 col-md-4" data-html>
					<h3>Preview here</h3><hr>
					<div ng-bind-html="markdown.html"></div>
				</div>
				<div class="col col-sm-6 col-md-4" data-diff>
					<h3>Diff here</h3><hr>
					<div ng-bind-html="toTrusted(markdown.diff)"></div>
				</div>
			</div><!-- row -->
		</div><!-- controller -->
		
		<div class="footer">
			<p>Featuring <a href="https://angularjs.org/">AngularJS</a>, <a href="https://github.com/coreyti/showdown">Showdown</a>, <a href="http://github.com/cemerick/jsdifflib">jsDiffLib</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and love, by <a href="http://appsynergy.net/">AppSynergy</a>.</p>
		</div>
		
	</div><!-- container -->
</body>
</html>
