<!DOCTYPE html>
<html lang="en" ng-app="showdownEd">
<head>
	<meta charset=utf-8 />
	<title>ShowdownEd</title>
	<link rel="stylesheet" media="screen" href="css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen" href="css/screen.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
	<script type="text/javascript" src="js/showdownEd.js"></script>
	<script type="text/javascript" src="jsdifflib/diffview.js"></script>
	<script type="text/javascript" src="jsdifflib/difflib.js"></script>
</head>
<body>
	<div class="container">
			<div ng-controller="Editor" class="showdownEd-editor">
				
				<h1>ShowdownEd - Markdown Editor</h1>
				Select file: <select
					ng-model="selectedFile"
					ng-options="file.name for file in files"
					ng-change="selectFile();"
				></select>
				<hr>
				
				<div ng-switch on="editor.$pristine">
					<p ng-switch-when="false">Unsaved changes!</p>
					<p ng-switch-when="true">Everything is up to date.</p>
				</div>
				
				<div class="row">
					<div class="col col-xs-6" data-markdown ng-switch on="haveFileSelected">
						<form name="editor">
						<textarea name="markdown"
							ng-switch-when="true"
							ng-change="updateMd(currentMarkdown);"
							ng-model="currentMarkdown"></textarea>
						</form>
					</div>
					<div class="col col-xs-6" data-html>
						<div ng-bind-html="currentHtml"></div>
					</div>
				</div><!-- row -->
				
				<div ng-bind-html="toTrusted(mdDiffView)">
				</div>
				
			</div>
	</div><!-- container -->
</body>
</html>
