// colors
$midgrey: #777
$lightgrey: #F4F4F4
$red: #FFD4D4
$blue: #D1EAF8
$green: #D1FBD1
$orange: #FFEBD4

// controls
.controls
	select
		margin-left: 10px
		margin-right: 10px

// general layout
.col
	margin-bottom: 30px
	textarea
		// textareas are haunted
		min-height: 420px
		
// diff table
table.diff tbody
	font-family: monospace
	th
		vertical-align: top
		text-align: right
		padding: 3px
		color: $midgrey
	td
		padding: 3px
		border-bottom: 1px solid white
	td.equal
		background-color: $lightgrey
	td.replace
		background-color: $green
	td.delete
		background-color: $red
	td.empty
		background-color: $orange
	td.insert
		background-color: $blue
